[project]
	description = Re-imagining of Wheresmyb.us for Android.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Phillip Carter (cartermp)
[access "refs/for/refs/*"]
	read = group user/Phillip Carter (cartermp)
	push = group user/Phillip Carter (cartermp)
	label-Code-Review = -2..+2 group user/Phillip Carter (cartermp)
	label-Verified = -1..+1 group user/Phillip Carter (cartermp)
	rebase = group user/Phillip Carter (cartermp)
	removeReviewer = group user/Phillip Carter (cartermp)
	submit = group user/Phillip Carter (cartermp)
[access "refs/heads/*"]
	read = group user/Phillip Carter (cartermp)
	create = group user/Phillip Carter (cartermp)
	push = +force group user/Phillip Carter (cartermp)
	pushMerge = group user/Phillip Carter (cartermp)
[access "refs/tags/*"]
	push = +force group user/Phillip Carter (cartermp)
	pushTag = group user/Phillip Carter (cartermp)
	pushSignedTag = group user/Phillip Carter (cartermp)
